<div align="left">
  <% @mods.sort_by {|mod| mod.module_code}.each do |mod| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-4 ">
          <li><%= link_to mod.module_code, mod_path(mod) %> </li>
          <li class=“article-title”, style="font-size:15px">
            <%= link_to mod.module_title, mod_path(mod) %>
          </li>
        </div>
      </div>
    </ul>
   <% end %>
</div>