<h1 align="left"> Modules available</h1>

<div>
<form class="form-group" action="/search" >
  <input type="text" class="form-control" name="q" placeholder="Search for Module">
  <br>
  <button type="submit" class="btn btn-default">Search</button>
</div>

<br>

<%= render 'mod' %>
