<div class="container" style="position:relative; bottom:0px;">
  <footer class='footer'>
    <small>
      Copyright &copy;<a href=#> Orbital 2020 Team NUSchedule </a>
      by <a href=#> Zhang Yunjie & Wang Yihe</a>
    </small>
    <nav>
      <ul>
        <li> <%= link_to "About", info_about_path %> </li>
      </ul>
    </nav>
  </footer>
</div>